# Rust
target/
devcap-ffi/target/

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# Generated
DevcapApp/Bridge/devcap.h
/DevcapApp.xcodeproj/project.xcworkspace/xcuserdata/
